* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

.main {
  width: 100%;
  background-image: url(japan-bg3.jpg);
  background-size: cover; /* Resmin tam sayfayı kaplamasını sağlar */
  background-attachment: fixed; /* Arka planın sabit kalmasını sağlar*/
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  position: fixed;  /* Navbar'ın sabit kalmasını sağlar */
  width: 100%;
  text-align: center;
}

li {

  display: inline-block;
  height: 60px; 
}

li a {
  display: block; 
  color: white;
  padding-right: 15px;
  padding-top: 5px;
  margin-top: 13px;
  height: 100%; 
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li a:hover {
  background-color: purple;
}

.content {
  padding: 2px;
  margin-top: 60px;
  height: 890px;
  width: 100%;
  font-family: 'Muli', sans-serif;
  color: white;
}

.bayrak a img {
  width: 40px;
  vertical-align: middle;
}


