* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

 .main {
  width: 100%;
  background-image: url(japan-bg3.jpg);
  background-size: cover;  /* Resmin tam sayfayı kaplamasını sağlıyor */
  background-attachment: fixed;  /* Arka planın sabit kalmasını sağlıyor */
 }



  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Navbar'ın sabit kalmasını sağlıyor */
    top: 0;
    width: 100%;
    display: flex;
    
   
    
  }
  
  li {
    float: left;
    border: 2px;
    text-align: center;
   
    display: flex;
    align-items: center;
  
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    height: 60px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
  }
  
  li a:hover {
    background-color: purple;
  }

  .content {
    
    padding:20px;
    margin-top:60px;
    height:890px;
    width:100%;
    font-family: 'Muli', sans-serif;
    color: white;
  

  }

    .bayrak a img {
        width: 40px;
        margin: 2px;       
  }
